body {
	/* padding: 10px; */
}

ul,
li {
	padding: 0;
	list-style-type: none;
}
li.decorated {
	margin-left: 40px;
	list-style-type: disc;
}

#logout-button {
	margin-left: 10px;
}

a {
	text-decoration: none;
}

.blogItem {
	padding: 10px 2px 2px 2px;
	margin-bottom: 10px;
	border: 3px solid black;
	border-radius: 3px;
}
.blog {
	padding: 5px;
	border: 1px solid black;
	margin: 5px;
}

button.remove {
	background-color: slateblue;
	color: white;
	border-radius: 4px;
}

.message {
	border-color: rgba(128, 128, 128, 0.273);
}
.message.success {
	background-color: #c2e8cc;
}
.message.error {
	background-color: #eebbb5;
}

.hidden {
	display: none;
}
